<div class="home__container">
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202405/2921/4b45cf4b319a65e05f6e4f87a22c7b91d2e7e8aeb247b61f.png"
		gameLabel="NEW"
		gameTitle="Play it Now!"
		gameType="PS4 | PS5"
		gamePrice="$69.99"
		gameLink="https://store.playstation.com/en-us/product/UP0002-PPSA01649_00-CODBO6CROSSGEN01"
	>
	</app-card>
	<app-card
		gameCover="https://upload.wikimedia.org/wikipedia/en/4/46/Grand_Theft_Auto_VI.png"
		gameLabel="UPCOMING"
		gameTitle="Pre-Order Now!"
		gameType="PS5"
		gamePrice="$79.99"
		gameLink="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
	>
	</app-card>
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202406/0500/8f15268257b878597757fcc5f2c9545840867bc71fc863b1.png"
		gameLabel="EXCLUSIVE"
		gameTitle="Play it Now!"
		gameType="PS5"
		gamePrice="$59.99"
		gameLink="https://store.playstation.com/en-us/product/UP9000-PPSA21564_00-0000000000000000"
		>
	</app-card>
	<app-card
		gameCover="https://upload.wikimedia.org/wikipedia/en/7/75/Boxart_for_Final_Fantasy_VII_Rebirth.png"
		gameLabel="BEST OF YEAR"
		gameTitle="Play it Now!"
		gameType="PS5"
		gamePrice="$69.99"
		gameLink="https://store.playstation.com/en-us/product/UP0082-PPSA08666_00-0783148264580163"
	>
	</app-card>
</div>

